//				: colors
$black			: #161617;
$grayDarkest	: #1f2021;
$grayDarker		: #2e3031;
$grayDark		: #2b2c2d;
$gray			: #7a7a79;
$grayLight		: #cacaca;
$grayLighter	: #e6e6e6;
$grayLightest	: #fafafa;
$white			: #fff;

$accentColor	: #28a0ff;
// $accentColor	: #3498db;

//				: sizes
$large			: 1.25 !default;
$small			: .85 !default;
$mini			: .75 !default;