//Main Menu Styling
#nav-open-btn {
	display: none;
	text-align: right;
}

.nav-btn i {
	@extend %accentColor;
	color: white;
	@include fs(28px);
}

@include media(to hand) {

	body {
		background: $grayDark;
	}

	#page {
		@include rem(padding-top, 80px);

		.admin-bar & {
			@include rem(padding-top, 108px);
		}
	}

	#nav-open-btn {
		display: block;
		@include rem(margin-top, 15px);
	}

	.wrapper-header-big {
		display: none !important
	}

	.wrapper-header-small {
		top: 0 !important;
		pointer-events: auto !important;
		overflow: visible !important;

		.header_search-form {
			display: none !important;
		}
	}

	.wrapper-header-small .site-navigation {
		display: block;
		width: 70%;
		height: 100%;
		position: absolute;
		top: 0;	left: 0;
		z-index: 9999;
		border-left-width: 0;
		background: $grayDark;
		@include opacity(0);

		.site-mainmenu {
			float: left;
			width: 100%;
			top: 6rem;
			position: relative;

			li {
				float: left;
				width: 100%;
				height: auto;
				border-top: 1px solid #000;


				a {
					// background: $grayDark;
					background-image: none !important;
					@include fs(18px);
					@include transition(none);
					float: left;
					width: 100%;
					height: auto;
					@include rem(padding, 16px 16px 16px 32px);
					color: $gray;
					text-align: left;
					border-top: none;

					&:after {
						border-color: $gray !important;
					}
				}

				&.active a:after {
					border-color: white !important;
				}

				.search-container {
					padding: 0;

					.btn {
						float: right;
						@include rem(padding, 16px);
					}

					.search-query-wrapper {
						@include rem(margin-right, 108px);
					}

					.field {
						background: transparent;
						padding: 0;
						border: 0;
						@include rem(padding, 16px 32px 16px 32px);
						@include rem(margin-left, -16px);
						color: white;
						margin: 0;
					}

					.btn, .field {
						@include rem(font-size, 22px);
						font-weight: 200;
						text-transform: uppercase;
					}
				}

				&.menu-parent-item {
					position: relative;
					a {

						&:after {
							width: 10px;
							height: 10px;
							position: absolute;
							@include rem(top, 18px);
							@include rem(right, $unit);
							border-color: $grayLighter;
							left: auto;
						}
					}
				}

				&.active {

					& > a {
						color: white;

						&:after {
							@include rem(top, 24px);
							@include rotate(315deg);
						}
					}

					& > ul.sub-menu {
						display: block !important;
						overflow: visible;
					}
				}

				ul.sub-menu {
					top: 0;
					left: 0 !important;
					width: 100%;
					margin: 0;
					float: none;
					position:relative;
					display:none;
					height:auto;
					opacity:1;

					li {
						background: $grayDarkest;

						&:hover > ul {
							display: none;
						}

						&.active > ul {
							display: block !important;
						}

						&.menu-parent-item {

							a {

								&:after {
									@include rotate(135deg);
									top: 1.2rem;
									@include rem(right, $unit);
								}
							}

							&.active > a:after {
								@include rotate(315deg);
							}
						}
					}

					a {
						background: $grayDarker;
						padding-left: 3rem;
					}

					// 3rd level
					ul.sub-menu {
						background: $grayDarkest;

						a {
							padding-left: 5rem;
						}
					}
				}
			}
		}
	}


	// Open & Close Buttons
	.nav-btn {
		z-index: 100;
		display: block;
		@include rem(width, 60px);
		@include rem(height, 50px);
		padding: 0;
		border: 0;
		outline: none;
		// background-image: url("../images/nav-icon.svg");
		// background-position:  center center;
		// background-repeat: no-repeat;
		// background-size: 30px 24px;
		@include opacity(1);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		text-align: left;

		position: absolute;
		top: 0;

		@include rem(right, 72px);

		@include media(to lap) {
			@include rem(right, 48px);
		}

		@include media(to hand) {
			@include rem(right, 24px);
		}

		// .no-svg & {
		// 	background-image: url("../images/nav-icon.png");
		// }

		&:hover,
		&:focus {
			@include opacity(1);
		}
	}

	#nav-close-btn {

		background: $grayDark url("../images/close-btn.svg") center center no-repeat;
		left: 1.5rem;
		top: 1.5rem;

		.no-svg & {
			background-image: url("../images/close-btn.png");
		}
	}


	//Page and menu transitions

	$nav-off-canvas-width: 70%;

	.csstransforms3d.csstransitions {

	  #page {
	    left: 0 !important;
	    @include transform(translate3d(0,0,0));
	    @include transition(transform 500ms ease);
	    @include backface-visibility(hidden);
	  }

	  .site-navigation {
	    & {
	      left: 0;
	      margin-left:0;

	      @include opacity(0.7);
	      @include transition(opacity 300ms 100ms ease, transform 500ms ease);
	      @include transform(translate3d(-100%,0,0));
	      @include transform-origin(50%, 0%);
	    }
	  }
	}

	.csstransforms3d.csstransitions.js-nav {
	  #page {
	    @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));
	  }
	  .site-navigation {

	    & {
	      @include opacity(1);
	      //@include transform(translate3d(0,0,0));
	    }
	  }
	}

	.no-csstransforms3d {

	  .site-navigation {
	    margin-left: 0 !important;
	    left: -1 * $nav-off-canvas-width !important;
	  }

	  &.js-nav {

	  	.site-navigation {
	  		@include opacity(1);
	  	}

	  	#page {
		    position: relative;
		    left: $nav-off-canvas-width;
		}

		// .wrapper-header-small {
		// 	left: $nav-off-canvas-width;	
		// }
	  }
	}
}