

<!-- COMPANIES LIST -->
<ul class="thumbnails" id="welcome">
  <li class="span12">
    <a class="thumbnail">
        <h2 style="text-align:center;">Welcome</h2>
    </a>
  </li>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <li class="span12" id="about">
    <a class="thumbnail">
        <h2 style="text-align:center;">About</h2>
    </a>
  </li>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <li class="span12" id="products">
    <a class="thumbnail">
        <h2 style="text-align:center;">Products</h2>
    </a>
  </li>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <li class="span12" id="contact">
    <a class="thumbnail">
        <h2 style="text-align:center;">Contact</h2>
    </a>
  </li>
</ul>